<div class="site-margin"></div>

<div class="site-container">  
    <div class="line"></div>
    <div class="wrap">

        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-2">
                    <div class="title">JOBS AT</div>
                    <div class="text">
                        <p>Home</p>
                        <p>Jobs</p>
                        <p>About</p>
                        <p>Department</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="title">INFORMATION</div>
                    <div class="text">
                        <p>F.A.Q</p>
                        <p>Application process</p>
                        <p>Privacy policy</p>
                        <p>Contact</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="title">FOLLOW US</div>
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text">
                                    <div class="option">
                                        <img src="assets/images/newsletter.png" class="network">
                                        <div class="desc">Newsletter</div>
                                    </div>
                                    <div class="option">
                                        <img src="assets/images/instagram.png" class="network">
                                        <div class="desc">Instagram</div>
                                    </div>
                                    <div class="option">
                                        <img src="assets/images/twitter.png" class="network">
                                        <div class="desc">Twitter</div>
                                    </div>
                                    <div class="option">
                                        <img src="assets/images/thumblr.png" class="network">
                                        <div class="desc">Thumblr</div>
                                    </div>
                                    <div class="option">
                                        <img src="assets/images/linkedin.png" class="network">
                                        <div class="desc">Linkedin</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text">
                                    <p>Facebook</p>
                                    <p>Pinterest</p>
                                    <p>YouTube</p>
                                    <p>Google+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="title">JOB ALERT</div>
                    <div class="text">
                        <p>Subscribe to our job alert</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-margin"></div>