<div class="site-margin"></div>

<div class="site-container">
    <div class="wrap">

        <div class="container-fluid ">

            <div class="row">
                <div class="col-md-8 col-xs-6">

                    <div class="col-option">
                        <div class="option"></div>
                    </div>

                    <div class="col-option">
                        <div class="option">
                            <div class="text">HOME</div>
                        </div>
                    </div>
                    <div class="col-option">
                        <div class="option">
                            <div class="text">JOBS</div>
                        </div>
                    </div>
                    <div class="col-option">
                        <div class="option">
                            <div class="text">ABOUT</div>
                        </div>
                    </div>
                    <div class="col-option">
                        <div class="option">
                            <div class="text">DEPARTMENTS</div>
                        </div>
                    </div>
                    <div class="col-option">
                        <div class="option">
                            <div class="text">CONTACT</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="search">
                        <form name="form-search" action="javascript: void(0);" method="post">
                            <input type="text" class="field" placeholder="SEARCH FOR JOBS BY KEYWORD">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-margin"></div>