<div class="title">
    <div class="site-margin"></div>

    <div class="site-container">    
        <div class="text">APPLY FOR THE POSITION OF PURCHASING ASSISTANT</div>
        <div class="vacancy">

            <form name="form-vacancy" action="javascript: void(0);" method="post" enctype="multipart/form-data">

                <fieldset>

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">
                                <label>Personal details *</label>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="first_name" value="" placeholder="First name" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="last_name" value="" placeholder="Last name" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="city" value="" placeholder="City" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="country" value="" placeholder="Country" required />
                            </div>

                            <div class="col-md-6">
                                <input type="email" name="email" value="" placeholder="Email" required />
                            </div>

                            <div class="col-md-6">
                                <input type="tel" name="phone" value="" placeholder="Telephone" required />
                            </div>

                            <div class="col-md-6">
                                <label>Your motivation *</label>
                            </div>

                            <div class="col-md-6">
                                <label>Attach your documents <span>(pdf, doc(x), jpg max. 4Mb)</span></label>
                            </div>

                            <div class="col-md-6">
                                <textarea class="text-area" name="motivation" rows="40" cols="40" placeholder="Motivation" required></textarea>
                            </div>

                            <div class="col-md-6">
                                <div class="upload">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <label>Resume *</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/upload-icon.png"> 
                                                    UPLOAD
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/dropbox-icon.png"> 
                                                    DROPBOX
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <label>Portfolio</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/upload-icon.png"> 
                                                    UPLOAD
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/dropbox-icon.png"> 
                                                    DROPBOX
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <label>Photo</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/upload-icon.png"> 
                                                    UPLOAD
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/dropbox-icon.png"> 
                                                    DROPBOX
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="back">< back to job description</label>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="apply row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <input type="checkbox" value="">
                                                <label>Send me a copy</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="btn btn-primary">
                                                <div>APPLY FOR THIS JOB</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>
    <div class="site-margin"></div>
</div>