<div class="image parallax">
    <div class="filter">
        <div class="site-margin"></div>

        <div class="site-container">    

            <div class="text-wrap">

                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title"> APPLICATION PROCEDURE</div>
                            <ul>
                                <li>Lorem Ipsum is simply dummy text.</li>
                                <li>When an unknown printer took.</li>
                                <li>Lorem Ipsum is simply dummy text.</li>
                                <li>When an unknown printer took.</li>
                            </ul>
                            <div class="continue">Continue reading</div>
                        </div>
                        <div class="col-md-6">
                            <div class="title">GOT A QUESTION?</div>
                            <div class="subtitle">Please contact recruitment</div>
                            <div class="contacts">T. +31 20 123 456 78</div>
                            <div class="condition">Or</div>
                            <div class="mail">send us an email</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="site-margin"></div>
    </div>
</div>

<div class="back-to-top" ng-controller="GoToTopCtrl" ng-click="goToTop()">
    BACK TO TOP
</div>