<div class="title">
    <div class="site-margin"></div>

    <div class="site-container">    
        <div class="text">{{ "FORM_TITLE" | translate }}</div>
        <div class="vacancy">

            <form name="form-vacancy" action="javascript: void(0);" method="post" 
                  enctype="multipart/form-data">

                <fieldset>

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">
                                <label>{{ "FORM_PERSONAL_DETAILS" | translate }}</label>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="first_name" value="" 
                                       placeholder="{{ 'FORM_LABEL_FIRST_NAME' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="last_name" value="" 
                                       placeholder="{{ 'FORM_LABEL_LAST_NAME' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="city" value="" 
                                       placeholder="{{ 'FORM_LABEL_CITY' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="country" value="" 
                                       placeholder="{{ 'FORM_LABEL_COUNTRY' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="email" name="email" value="" 
                                       placeholder="{{ 'FORM_LABEL_EMAIL' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="tel" name="phone" value="" 
                                       placeholder="{{ 'FORM_LABEL_TELEPHONE' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <label>{{ "FORM_MOTIVATION" | translate }}</label>
                            </div>

                            <div class="col-md-6">
                                <label>
                                    {{ "FORM_ATTACH_DOCS" | translate }} 
                                    <span>{{ "FORM_UPLOAD_FILES_TYPES" | translate }}</span>
                                </label>
                            </div>

                            <div class="col-md-6">
                                <textarea class="text-area" name="motivation" rows="40" cols="40" 
                                          placeholder="{{ 'FORM_LABEL_MOTIVATION' | translate }}" required></textarea>
                            </div>

                            <div class="col-md-6">
                                <div class="upload">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{ "FORM_RESUME" | translate }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/upload-icon.png"> 
                                                    {{ "BUTTON_UPLOAD" | translate }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/dropbox-icon.png"> 
                                                    {{ "BUTTON_DROPBOX" | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{ "FORM_PORTFOLIO" | translate }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/upload-icon.png"> 
                                                    {{ "BUTTON_UPLOAD" | translate }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/dropbox-icon.png"> 
                                                    {{ "BUTTON_DROPBOX" | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{ "FORM_PHOTO" | translate }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/upload-icon.png"> 
                                                    {{ "BUTTON_UPLOAD" | translate }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary">
                                                    <img src="assets/images/dropbox-icon.png"> 
                                                    {{ "BUTTON_DROPBOX" | translate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="back">< {{ "FORM_BACK_TO_JOB" | translate }}</label>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="apply row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <input type="checkbox" value="">
                                                <label>{{ "FORM_SEND_ME_COPY" | translate }}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="btn btn-primary">
                                                <div>{{ "BUTTON_APPLY_JOB" | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>
    <div class="site-margin"></div>
</div>