<div class="title" data-ng-controller="UploadFormCtrl">
    <div class="site-margin"></div>

    <div class="site-container">
        
        <div id="title-vacancy" class="text">{{ "FORM_TITLE" | translate }}</div>
        
        <div class="vacancy">

            <div id="messages" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ title }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ message }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'FORM_CLOSE' | translate }}</button>
                        </div>
                    </div>

                </div>
            </div>

            <form name="formVacancy" action="/vacancy-form" 
                  method="post" enctype="multipart/form-data">

                <fieldset>

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">
                                <label>{{ "FORM_PERSONAL_DETAILS" | translate }}</label>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="first_name" value="{{ vacancy.firstName }}" data-ng-model="vacancy.firstName"
                                       placeholder="{{ 'FORM_LABEL_FIRST_NAME' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="last_name" value="{{ vacancy.lastName }}" data-ng-model="vacancy.lastName"
                                       placeholder="{{ 'FORM_LABEL_LAST_NAME' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="city" value="{{ vacancy.city }}" data-ng-model="vacancy.city"
                                       placeholder="{{ 'FORM_LABEL_CITY' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="country" value="{{ vacancy.country }}" data-ng-model="vacancy.country"
                                       placeholder="{{ 'FORM_LABEL_COUNTRY' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="email" name="email" value="{{ vacancy.email }}" data-ng-model="vacancy.email"
                                       placeholder="{{ 'FORM_LABEL_EMAIL' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <input type="tel" name="phone" value="{{ vacancy.phone }}" data-ng-model="vacancy.phone"
                                       placeholder="{{ 'FORM_LABEL_TELEPHONE' | translate }}" required />
                            </div>

                            <div class="col-md-6">
                                <label>{{ "FORM_MOTIVATION" | translate }}</label>
                            </div>

                            <div class="col-md-6">
                                <label>
                                    {{ "FORM_ATTACH_DOCS" | translate }} 
                                    <span>{{ "FORM_UPLOAD_FILES_TYPES" | translate }}</span>
                                </label>
                            </div>

                            <div class="col-md-6">
                                <textarea class="text-area" name="motivation" rows="40" cols="40" data-ng-model="vacancy.motivation"
                                          placeholder="{{ 'FORM_LABEL_MOTIVATION' | translate }}" required>{{ vacancy.motivation }}</textarea>
                            </div>

                            <div class="col-md-6">
                                <div class="upload">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4 resume">
                                                <label>{{ "FORM_RESUME" | translate }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="file-upload btn btn-primary">
                                                    <img src="assets/images/upload-icon.png" alt="" /> 
                                                    <span>{{ "BUTTON_UPLOAD" | translate }}</span>
                                                    <input id="resume" type="file" name="resume" class="upload" 
                                                           data-ng-model="vacancy.resume" valid-file required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary" 
                                                     onclick="javascript: alert($(this).data('msg'))" 
                                                     data-msg="{{ 'FORM_AVAILABLE_SOON' | translate }}">
                                                    <img src="assets/images/dropbox-icon.png" alt="" /> 
                                                    {{ "BUTTON_DROPBOX" | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 portfolio">
                                                <label>{{ "FORM_PORTFOLIO" | translate }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="file-upload btn btn-primary">
                                                    <img src="assets/images/upload-icon.png" alt="" /> 
                                                    <span>{{ "BUTTON_UPLOAD" | translate }}</span>
                                                    <input id="portfolio" type="file" name="portfolio" class="upload" 
                                                           data-ng-model="vacancy.portfolio" valid-file />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary" 
                                                     onclick="javascript: alert($(this).data('msg'))" 
                                                     data-msg="{{ 'FORM_AVAILABLE_SOON' | translate }}">
                                                    <img src="assets/images/dropbox-icon.png" alt="" /> 
                                                    {{ "BUTTON_DROPBOX" | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 photo">
                                                <label>{{ "FORM_PHOTO" | translate }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="file-upload btn btn-primary">
                                                    <img src="assets/images/upload-icon.png" alt="" /> 
                                                    <span>{{ "BUTTON_UPLOAD" | translate }}</span>
                                                    <input id="photo" type="file" name="photo" class="upload" 
                                                           data-ng-model="vacancy.photo" valid-file />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn btn-primary"
                                                     onclick="javascript: alert($(this).data('msg'))" 
                                                     data-msg="{{ 'FORM_AVAILABLE_SOON' | translate }}">
                                                    <img src="assets/images/dropbox-icon.png" alt="" /> 
                                                    {{ "BUTTON_DROPBOX" | translate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="back">&lt; {{ "FORM_BACK_TO_JOB" | translate }}</label>
                            </div>

                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="apply row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <input type="checkbox" name="copy" value="true" data-ng-model="vacancy.copy">
                                                <label>{{ "FORM_SEND_ME_COPY" | translate }}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <button type="submit" class="btn btn-primary" 
                                                    data-ng-disabled="formVacancy.$invalid">
                                                {{ "BUTTON_APPLY_JOB" | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>
    <div class="site-margin"></div>
</div>