<div class="image parallax">
    <div class="filter">
        <div class="site-margin"></div>

        <div class="site-container">    

            <div class="text-wrap">

                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title">{{ "PROCEDURE_TITLE_COL_1" | translate }}</div>
                            <ul>
                                <li>{{ "PROCEDURE_LIST_ITEM_1_COL_1" | translate }}</li>
                                <li>{{ "PROCEDURE_LIST_ITEM_2_COL_1" | translate }}</li>
                                <li>{{ "PROCEDURE_LIST_ITEM_3_COL_1" | translate }}</li>
                                <li>{{ "PROCEDURE_LIST_ITEM_4_COL_1" | translate }}</li>
                            </ul>
                            <div class="continue">{{ "PROCEDURE_CONTINUE_READING" | translate }}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="title">{{ "PROCEDURE_TITLE_COL_2" | translate }}</div>
                            <div class="subtitle">{{ "PROCEDURE_DESC_CONTACT" | translate }}</div>
                            <div class="contacts">{{ "PROCEDURE_PHONE" | translate }}</div>
                            <div class="condition">{{ "PROCEDURE_OR_CONTACT" | translate }}</div>
                            <div class="mail">{{ "PROCEDURE_SEND_EMAIL" | translate }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="site-margin"></div>
    </div>
</div>

<div class="back-to-top" data-ng-controller="GoToTopCtrl" data-ng-click="goToTop()">
    {{ "BUTTON_BACK_TO_TOP" | translate }}
</div>