/* common */

.logo {
    position: absolute;
    top: 5px;
    left: 3%;

    .open-menu {
        display: none;
        float: left;
        width: 24px;
        height: 35px;
        background-image: url('../images/menu-shortcut.png');
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 15px;
        cursor: pointer;
    }

    .image {
        display: inline-block;
        float: left;
        width: 140px;
        height: 35px;
        background-image: url('../images/logo.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.cart {

    position: absolute;
    top: 12px;
    right: 3%;

    .image {
        display: inline-block;
        float: left;
        width: 19px;
        height: 18px;
        background-image: url('../images/cart.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .total {
        display: inline-block;
        float: left;
        width: 10px;
        height: 18px;
        color: white;
        padding: 12px;
    }
}

.parallax {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 768px) {

    .logo {
        left: 5%;

        .open-menu {
            display: inline-block;
        }
    }

    .cart {
        right: 5%;
    }

}