/* settings */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("fonts/YanoneKaffeesatz-ExtraLight.eot");
  src: url("fonts/YanoneKaffeesatz-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/YanoneKaffeesatz-ExtraLight.woff") format("woff"), url("fonts/YanoneKaffeesatz-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("fonts/YanoneKaffeesatz-Light.eot");
  src: url("fonts/YanoneKaffeesatz-Light.eot?#iefix") format("embedded-opentype"), url("fonts/YanoneKaffeesatz-Light.woff") format("woff"), url("fonts/YanoneKaffeesatz-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("fonts/YanoneKaffeesatz-Regular.eot");
  src: url("fonts/YanoneKaffeesatz-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/YanoneKaffeesatz-Regular.woff") format("woff"), url("fonts/YanoneKaffeesatz-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("fonts/YanoneKaffeesatz-Bold.eot");
  src: url("fonts/YanoneKaffeesatz-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/YanoneKaffeesatz-Bold.woff") format("woff"), url("fonts/YanoneKaffeesatz-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'GStar Condensed';
  src: url("fonts/GStar-Condensed.eot");
  src: url("fonts/GStar-Condensed.eot?#iefix") format("embedded-opentype"), url("fonts/GStar-Condensed.woff") format("woff"), url("fonts/GStar-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans 500';
  src: url("fonts/MuseoSans-500.eot");
  src: url("fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans-500.woff") format("woff"), url("fonts/MuseoSans-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans 700';
  src: url("fonts/MuseoSans-700.eot");
  src: url("fonts/MuseoSans-700.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans-700.woff") format("woff"), url("fonts/MuseoSans-700.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
/* common */
/* application */
html, body {
  font-family: 'Museo Sans 500';
  color: black;
  font-size: 14px;
  background-color: white;
  line-height: 0; }

.site-margin {
  float: left;
  width: 16.5%;
  min-height: 1px; }

.site-container {
  display: inline-block;
  float: left;
  width: 67%;
  min-height: 1px;
  text-align: center; }

.none-layer {
  display: none; }

.block-layer {
  display: block; }

.inline-layer {
  display: inline; }

.inline-block-layer {
  display: inline-block; }

/* mixins */
/* modules */
/* menu */
.menu {
  width: 100%;
  display: inline-block;
  min-height: 45px;
  line-height: 0;
  background-color: black; }
  .menu .wrap {
    line-height: 0;
    width: 100%;
    text-align: left;
    background-color: black; }
  .menu .option {
    width: 100%;
    min-height: 45px;
    display: table; }
    .menu .option .text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: white;
      cursor: pointer;
      font-family: 'Yanone Kaffeesatz';
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      transform: scale(1, 0.6);
      -webkit-transform: scale(1, 0.6);
      -moz-transform: scale(1, 0.6);
      -ms-transform: scale(1, 0.6);
      -o-transform: scale(1, 0.6);
      letter-spacing: 0.5px; }
  .menu .col-option {
    display: inline-block;
    width: fit-content;
    padding-right: 40px;
    background-color: black; }
  .menu .col-option:first-child {
    padding-right: 40px; }
  .menu .col-md-8 {
    margin: 0;
    padding: 0; }
  .menu .col-md-4 {
    padding-right: 0px; }
  .menu .search {
    display: block;
    width: 100%;
    min-height: 45px;
    overflow: visible;
    text-align: right;
    padding: 8px 0 8px 0;
    background-color: balck;
    text-align: right; }
    .menu .search input {
      position: absolute;
      display: inline-block;
      top: 8px;
      right: -70px;
      width: 310px;
      height: 29px;
      background-color: white;
      border: 0;
      line-height: 0;
      background-image: url("../images/search.png");
      background-repeat: no-repeat;
      background-position: right; }
    .menu .search .field {
      font-family: 'Yanone Kaffeesatz';
      color: black;
      font-size: 15px;
      line-height: 29px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0.5px;
      padding: 0 15px; }

@media (max-width: 768px) {
  .menu .col-option {
    width: 100%; }
  .menu .search {
    text-align: center; }
    .menu .search input {
      position: inherit;
      right: auto; } }
/* footer */
.footer {
  width: 100%;
  height: 320px;
  background-color: white; }
  .footer .line {
    padding-top: 30px;
    border-bottom: 1px solid #eaeaea; }
  .footer .wrap {
    margin: 20px 0 40px 0;
    line-height: 0; }
    .footer .wrap .title {
      font-family: 'Museo Sans 500';
      font-size: 14px;
      line-height: 14px;
      color: black;
      text-align: left;
      margin: 0 0 25px 0; }
    .footer .wrap .col-md-2:first-child {
      padding-left: 0; }
    .footer .wrap .col-md-6 {
      padding-left: 0; }
    .footer .wrap .text {
      font-family: 'Museo Sans 500';
      font-size: 12px;
      line-height: 12px;
      color: #bdbdbd;
      cursor: pointer;
      text-align: left; }
      .footer .wrap .text .option {
        display: inline-block;
        width: 100%;
        min-height: 22px; }
        .footer .wrap .text .option .network, .footer .wrap .text .option .desc {
          float: left; }
        .footer .wrap .text .option .desc {
          padding: 5px 0 0 0; }

/* pages */
/* vacancy page */
.vacancy {
  /* title section */
  /* form section */
  /* procedure section */ }
  .vacancy .title {
    line-height: 0; }
    .vacancy .title .image {
      width: 100%;
      min-height: 305px;
      background-image: url("../images/vacancy-image.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .vacancy .title .image .filter {
        width: 100%;
        min-height: 305px;
        background-color: rgba(0, 0, 0, 0.5); }
        .vacancy .title .image .filter .text-wrap {
          display: table;
          width: 100%;
          min-height: 170px;
          margin-top: 67.5px;
          background-color: rgba(0, 0, 0, 0.6); }
          .vacancy .title .image .filter .text-wrap .text {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: white;
            line-height: 0px; }
            .vacancy .title .image .filter .text-wrap .text div:first-child {
              font-family: 'Yanone Kaffeesatz';
              color: white;
              font-size: 70px;
              line-height: 0px;
              min-height: 50px;
              font-weight: bold;
              font-style: normal;
              letter-spacing: 0.5px; }
            .vacancy .title .image .filter .text-wrap .text div:last-child {
              font-family: 'Yanone Kaffeesatz';
              color: white;
              font-size: 40px;
              line-height: 0px;
              font-weight: normal;
              font-style: normal;
              letter-spacing: 0.5px;
              padding-top: 5px; }
  .vacancy .form {
    width: 100%;
    min-height: 730px;
    background-color: #f7f7f7;
    line-height: 0px; }
    .vacancy .form .title {
      text-align: left;
      line-height: 0px; }
      .vacancy .form .title .text {
        text-align: left;
        font-family: 'Yanone Kaffeesatz';
        color: black;
        font-size: 50px;
        line-height: 50px;
        min-height: 50px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.5px;
        margin-top: 50px; }
  .vacancy .procedure {
    position: relative;
    line-height: 0; }
    .vacancy .procedure .back-to-top {
      position: absolute;
      width: 140px;
      min-height: 40px;
      bottom: 0;
      right: 0;
      background-color: #f7f7f7; }
    .vacancy .procedure .image {
      width: 100%;
      height: 400px;
      background-image: url("../images/vacancy-procedure.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .vacancy .procedure .image .filter {
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.5); }
        .vacancy .procedure .image .filter .text-wrap {
          width: 100%;
          min-height: 260px;
          text-align: left;
          margin-top: 67.5px;
          line-height: 0;
          background-color: #f7f7f7; }
          .vacancy .procedure .image .filter .text-wrap .title {
            text-align: left;
            font-family: 'Yanone Kaffeesatz';
            text-transform: uppercase;
            color: black;
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            font-style: normal;
            letter-spacing: 0.5px;
            margin: 30px 0 30px 20px; }
          .vacancy .procedure .image .filter .text-wrap li {
            font-family: 'Museo Sans 500';
            font-size: 14px;
            line-height: 14px;
            color: #8c8c8c;
            padding: 5px 0; }
          .vacancy .procedure .image .filter .text-wrap .continue {
            font-family: 'Museo Sans 500';
            font-size: 14px;
            line-height: 14px;
            color: #bdbdbd;
            margin: 25px 0 25px 20px;
            cursor: pointer; }
          .vacancy .procedure .image .filter .text-wrap .subtitle {
            font-family: 'Museo Sans 700';
            font-size: 16px;
            line-height: 16px;
            color: #8c8c8c;
            margin: 0 0 0 20px; }
          .vacancy .procedure .image .filter .text-wrap .contacts, .vacancy .procedure .image .filter .text-wrap .condition {
            font-family: 'Museo Sans 500';
            font-size: 14px;
            line-height: 14px;
            color: #8c8c8c;
            padding: 5px 0;
            margin: 25px 0 0 20px; }
          .vacancy .procedure .image .filter .text-wrap .condition {
            float: left;
            margin: 0 0 0 20px;
            padding: 0; }
          .vacancy .procedure .image .filter .text-wrap .mail {
            float: left;
            font-family: 'Museo Sans 500';
            font-size: 14px;
            line-height: 14px;
            color: #bdbdbd;
            cursor: pointer;
            padding: 0;
            margin: 0 0 0 5px; }
    .vacancy .procedure .back-to-top {
      text-align: center;
      background-color: white;
      background-image: url("../images/back-to-top.jpg");
      background-repeat: no-repeat;
      background-position: 120px 50%;
      font-family: 'Museo Sans 500';
      font-size: 14px;
      line-height: 14px;
      color: #bcbcbc;
      cursor: pointer;
      padding: 15px 0 0 0; }

/*# sourceMappingURL=style.css.map */
