/* page */

.vacancy {

    /* title section */
    .title {

        line-height: 0;

        .image {
            width: 100%;
            height: 305px;
            background-image: url('../images/vacancy-image.jpg');

            .filter {
                width: 100%;
                min-height: 305px;
                @include transparent(0, 0, 0, 50);

                .text-wrap {
                    display: table;
                    width: 100%;
                    min-height: 170px;
                    margin-top: 67.5px;
                    @include transparent(0, 0, 0, 60);

                    .text {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        color: white;
                        line-height: 0px;

                        div:first-child {
                            font-family: 'Yanone Kaffeesatz';
                            color: white;
                            font-size: 70px;
                            line-height: 0px;
                            min-height: 50px;
                            font-weight: bold;
                            font-style: normal;
                            letter-spacing: 0.5px;
                        }

                        div:last-child {
                            font-family: 'Yanone Kaffeesatz';
                            color: white;
                            font-size: 40px;
                            line-height: 0px;
                            font-weight: normal;
                            font-style: normal;
                            letter-spacing: 0.5px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }

    /* form section */
    .form {

        display: inline-block;
        width: 100%;
        min-height: 730px;
        background-color: #f7f7f7;
        line-height: 0px;

        .title {

            text-align: left;
            line-height: 0px;

            .text {
                text-align: left;
                font-family: 'Yanone Kaffeesatz';
                color: black;
                font-size: 50px;
                line-height: 50px;
                min-height: 50px;
                font-weight: bold;
                font-style: normal;
                letter-spacing: 0.5px;  
                margin: 50px 0 50px 0;
            }

            .vancancy {
                text-align: left;

                .col-md-6, .col-md-12 {
                    padding: 0px;
                }

                .col-md-6:nth-child(odd) {
                    padding-left: 20px;
                    padding-bottom: 20px;
                }

                .col-md-6:nth-child(even) {
                    padding-right: 20px;
                    padding-bottom: 20px;
                }

                .col-md-6:nth-child(6), .col-md-6:nth-child(7) {
                    padding-bottom: 40px;
                }

                label {
                    font-family: 'Museo Sans 500';
                    color: black;
                    font-size: 16px;
                    line-height: 16px;
                    min-height: 16px;
                    font-weight: bold;
                    font-style: normal;
                    margin: 0 0 20px 0;

                    span {
                        font-size: 13px;
                    }
                }

                input {
                    font-family: 'Museo Sans 700';
                    font-size: 14px;
                    width: 100%;
                    height: 42px;
                    line-height: 42px;
                    color: #00395f;
                    padding: 0 45px 0 15px;
                }

                textarea {
                    font-family: 'Museo Sans 700';
                    font-size: 14px;
                    width: 100%;
                    height: 142px;
                    line-height: 42px;
                    color: #00395f;
                    padding: 0 45px 0 15px;
                }

                .upload {
                    width: 100%;
                    height: 142px;

                    .col-md-4 {
                        padding: 0px;
                    }

                    .col-md-4:nth-child(2) {
                        padding-right: 5px;
                        margin-bottom: 10px;
                    }
                    .col-md-4:nth-child(3) {
                        padding-left: 5px;
                        margin-bottom: 10px;
                    }

                    label {
                        font-family: 'Museo Sans 500';
                        color: black;
                        font-size: 14px;
                        line-height: 14px;
                        min-height: 14px;
                        font-weight: bold;
                        font-style: normal;
                        margin: 15px 0 0 0;
                    }
                }

                .btn-primary {
                    width: 100%;
                    border-radius: 0px;
                    padding: 10px 30px 10px 30px;
                }

                .back {
                    font-family: 'Museo Sans 500';
                    font-size: 14px;
                    font-weight: normal;
                    width: 100%;
                    color: #aaaaaa;
                    margin-top: 17px;
                    cursor: pointer;
                }

                .apply > .col-md-8 {
                    padding: 0px;
                }

                .apply > .col-md-4:first-child {
                    padding-left: 0px;

                    .checkbox {
                        padding-left: 20px;
                    }
                    
                    input[type="checkbox"] {
                        width: 15px;
                        height: 15px;
                    }

                    label {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        font-weight: normal;
                        color: #aaaaaa;
                        padding-left: 0px;
                        padding-top: 5px;
                    }

                }
            }

        }
    }

    /* procedure section */
    .procedure {

        position: relative;
        line-height: 0;

        .back-to-top {
            position: absolute;
            width: 140px;
            min-height: 40px;
            bottom: 0;
            right: 0;
            background-color: #f7f7f7;
        }

        .image {
            width: 100%;
            height: 400px;
            background-image: url('../images/vacancy-procedure.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .filter {
                width: 100%;
                height: 400px;
                @include transparent(0, 0, 0, 50);

                .text-wrap {

                    width: 100%;
                    min-height: 260px;
                    text-align: left;
                    margin-top: 67.5px;
                    line-height: 0;
                    background-color: #f7f7f7;

                    .title {
                        text-align: left;
                        font-family: 'Yanone Kaffeesatz';
                        text-transform: uppercase;
                        color: black;
                        font-size: 40px;
                        line-height: 40px;
                        font-weight: bold;
                        font-style: normal;
                        letter-spacing: 0.5px;
                        margin: 30px 0 30px 20px;
                    }

                    li {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #8c8c8c;
                        padding: 5px 0;
                    }

                    .continue {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #bdbdbd;
                        margin: 25px 0 25px 20px;
                        cursor: pointer;
                    }

                    .subtitle {         
                        font-family: 'Museo Sans 700';
                        font-size: 16px;
                        line-height: 16px;
                        color: #8c8c8c;
                        margin: 0 0 0 20px;
                    }

                    .contacts, .condition {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #8c8c8c;
                        padding: 5px 0;
                        margin: 25px 0 0 20px;
                    }

                    .condition {
                        float: left;
                        margin: 0 0 0 20px;
                        padding: 0;
                    }

                    .mail {
                        float: left;
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #bdbdbd;
                        cursor: pointer;
                        padding: 0;
                        margin: 0 0 0 5px;
                    }
                }
            }

        }

        .back-to-top {
            text-align: center;
            background-color: white;
            background-image: url('../images/back-to-top.jpg');
            background-repeat: no-repeat;
            background-position: 120px 50%;
            font-family: 'Museo Sans 500';
            font-size: 14px;
            line-height: 14px;
            color: #bcbcbc;
            cursor: pointer;
            padding: 15px 0 0 0;
        }
    }
}

@media (max-width: 768px) {

}