/* vacancy page */
.vacancy {

    /* title section */
    .title {

        line-height: 0;

        .image {
            width: 100%;
            height: 305px;
            background-image: url('../images/vacancy-image.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .filter {
                width: 100%;
                height: 305px;
                @include transparent(0, 0, 0, 50);

                .text-wrap {
                    display: table;
                    width: 100%;
                    height: 170px;
                    margin-top: 67.5px;
                    @include transparent(0, 0, 0, 60);

                    .text {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        color: white;
                        line-height: 0px;

                        div:first-child {
                            font-family: 'Yanone Kaffeesatz';
                            color: white;
                            font-size: 70px;
                            line-height: 0px;
                            height: 50px;
                            font-weight: bold;
                            font-style: normal;
                            letter-spacing: 0.5px;
                        }

                        div:last-child {
                            font-family: 'Yanone Kaffeesatz';
                            color: white;
                            font-size: 40px;
                            line-height: 0px;
                            font-weight: normal;
                            font-style: normal;
                            letter-spacing: 0.5px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }

    /* form section */
    .form {

        width: 100%;
        min-height: 730px;
        background-color: #f7f7f7;
        line-height: 0px;

        .title {

            text-align: left;
            line-height: 0px;

            .text {
                text-align: left;
                font-family: 'Yanone Kaffeesatz';
                color: black;
                font-size: 50px;
                line-height: 50px;
                height: 50px;
                font-weight: bold;
                font-style: normal;
                letter-spacing: 0.5px;  
                margin-top: 50px;
            }
        }
    }

    /* procedure section */
    .procedure {

        position: relative;
        line-height: 0;

        .back-to-top {
            position: absolute;
            width: 140px;
            height: 40px;
            bottom: 0;
            right: 0;
            background-color: #f7f7f7;
        }
        
        .image {
            width: 100%;
            height: 400px;
            background-image: url('../images/vacancy-procedure.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .filter {
                width: 100%;
                height: 400px;
                @include transparent(0, 0, 0, 50);

                .text-wrap {
                    display: table;
                    width: 100%;
                    height: 265px;
                    margin-top: 67.5px;
                    background-color: #f7f7f7;
                }
            }
        }
    }
}

@media (max-width: 768px) {

}