/* vacancy page */
.vacancy {

    /* title section */
    .title {

        line-height: 0;

        .image {
            width: 100%;
            min-height: 305px;
            background-image: url('../images/vacancy-image.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .filter {
                width: 100%;
                min-height: 305px;
                @include transparent(0, 0, 0, 50);

                .text-wrap {
                    display: table;
                    width: 100%;
                    min-height: 170px;
                    margin-top: 67.5px;
                    @include transparent(0, 0, 0, 60);

                    .text {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        color: white;
                        line-height: 0px;

                        div:first-child {
                            font-family: 'Yanone Kaffeesatz';
                            color: white;
                            font-size: 70px;
                            line-height: 0px;
                            min-height: 50px;
                            font-weight: bold;
                            font-style: normal;
                            letter-spacing: 0.5px;
                        }

                        div:last-child {
                            font-family: 'Yanone Kaffeesatz';
                            color: white;
                            font-size: 40px;
                            line-height: 0px;
                            font-weight: normal;
                            font-style: normal;
                            letter-spacing: 0.5px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }

    /* form section */
    .form {

        width: 100%;
        min-height: 730px;
        background-color: #f7f7f7;
        line-height: 0px;

        .title {

            text-align: left;
            line-height: 0px;

            .text {
                text-align: left;
                font-family: 'Yanone Kaffeesatz';
                color: black;
                font-size: 50px;
                line-height: 50px;
                min-height: 50px;
                font-weight: bold;
                font-style: normal;
                letter-spacing: 0.5px;  
                margin-top: 50px;
            }
        }
    }

    /* procedure section */
    .procedure {

        position: relative;
        line-height: 0;

        .back-to-top {
            position: absolute;
            width: 140px;
            min-height: 40px;
            bottom: 0;
            right: 0;
            background-color: #f7f7f7;
        }

        .image {
            width: 100%;
            height: 400px;
            background-image: url('../images/vacancy-procedure.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .filter {
                width: 100%;
                height: 400px;
                @include transparent(0, 0, 0, 50);

                .text-wrap {

                    width: 100%;
                    min-height: 260px;
                    text-align: left;
                    margin-top: 67.5px;
                    line-height: 0;
                    background-color: #f7f7f7;

                    .title {
                        text-align: left;
                        font-family: 'Yanone Kaffeesatz';
                        text-transform: uppercase;
                        color: black;
                        font-size: 40px;
                        line-height: 40px;
                        font-weight: bold;
                        font-style: normal;
                        letter-spacing: 0.5px;
                        margin: 30px 0 30px 20px;
                    }

                    li {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #8c8c8c;
                        padding: 5px 0;
                    }

                    .continue {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #bdbdbd;
                        margin: 25px 0 25px 20px;
                        cursor: pointer;
                    }

                    .subtitle {         
                        font-family: 'Museo Sans 700';
                        font-size: 16px;
                        line-height: 16px;
                        color: #8c8c8c;
                        margin: 0 0 0 20px;
                    }

                    .contacts, .condition {
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #8c8c8c;
                        padding: 5px 0;
                        margin: 25px 0 0 20px;
                    }
                    
                    .condition {
                        float: left;
                        margin: 0 0 0 20px;
                        padding: 0;
                    }
                    
                    .mail {
                        float: left;
                        font-family: 'Museo Sans 500';
                        font-size: 14px;
                        line-height: 14px;
                        color: #bdbdbd;
                        cursor: pointer;
                        padding: 0;
                        margin: 0 0 0 5px;
                    }
                }
            }

        }
    }
}

@media (max-width: 768px) {

}