/* application */

html, body {
    font-family: 'Museo Sans 500';
    color: black;
    font-size: 14px;
    background-color: white;
    line-height: 0;
}

.site-margin {
    float: left;
    width: 16.5%;
    min-height: 1px;
}

.site-container {
    display: inline-block;
    float: left;
    width: 67%;
    min-height: 1px;
    text-align: center;
}

.none-layer {
    display: none;
}

.block-layer {
    display: block;
}

.inline-layer {
    display: inline;
}

.inline-block-layer {
    display: inline-block;
}

@media (max-width: 768px) {
    
    .site-margin {
        width: 5%;
    }

    .site-container {
        width: 90%;
    }
    
}